/* <===================TYPOGRAPHY & FONTS===================> */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Quicksand&display=swap');

/* <===================UNIVERSAL CSS===================> */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #212121;
}

html {
    scroll-behavior: smooth;
}

.mobile {
    display: none;
}

.container {
    display: flex;
    width: 100%;
}

.whitebck {
    background-color: white;
}

.greybck {
    background-color: rgba(232,230,230,.6);
}

.content {
    margin: auto;
    padding: 8rem 6rem;
    width: 100%;
    max-width: 1640px;
    justify-content: center;
    text-align: center;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}  

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.text {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    margin: auto;
    margin-bottom: 1.8rem;
    text-align: left;
    width: 90%;
}

div.rightofimg {
    width: 70%;
    margin: 5rem auto;
}

img.rightofimg {
    width: 40%;
}

div.leftofimg {
    width: 70%;
    margin: 5rem auto;
}

img.leftofimg {
    width: 50%;
}

a:has(button) {
    text-transform: uppercase;
    text-decoration: none !important;
}

button.huge-btn {
    display: block;
    font-size: 2.3rem;
    font-weight: bolder;
    color: #fff;
    background: #000;
    border: 1px solid #212121;
    padding: 1.8rem 5.6rem;
    border-radius: 6rem;
    width: fit-content;
    margin: 30px;
    text-transform: uppercase;
    text-decoration: none !important;
}

button.huge-btn:hover {
    color: orange;
    background-color: rgba(232,230,230,.6);
    border-color: grey;
    transition: .5s;
}

button.small-btn {
    display: inline;
    font-size: 1em;
    background: transparent;
    border: 1px solid rgba(202,200,200,1);
    padding: 25px 50px;
    border-radius: 50px;
    width: fit-content;
    margin: 30px 0;
}

button.small-btn:hover {
    color: orange;
    background-color: rgba(232,230,230,.6);
    border-color: grey;
    transition: .5s;
}

h1 {
    font-size: 7rem;
    font-weight: 500;
    line-height: 8rem;
    margin-top: 1rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.3rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

img.gallery-img {

}


.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img{
    width: 30vw;
    max-width: 35rem;
    margin: 10px;
}

/* <===================NAVBAR===================> */

nav {
    height: 5rem;
    width: 100vw;
    position: fixed;
    background-color: #ffffffdd;
    z-index: 100;
}

nav img.logo {
    width: 5rem;
}

nav ul {
    position: fixed;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(10px);
    padding-top: 10rem;
    font-weight: bold;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav ul li {
    display: block;
    margin: 2rem auto;
    line-height: 5rem;
}

nav ul li a {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a.active {
    background: none;
    color: grey;
}

.checkbtn {
    display: block;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

#check:checked ~ ul {
    left: 0;
}

/* <===================HOME===================> */

#home {
    padding-top: 20rem;
}

.home-img{
    display: none;
}

#home h3 {
    font-size: 1.7em;
}

#home p {
    text-align: center;
    padding-top: 5rem;
}

#home button {
    margin: 5rem auto;
}

#home img.smallscreen {
    display: block;
    width: 70%;
    height: 30rem;
    object-fit: cover;
    margin: auto;
}

/* <===================LOCATION===================> */

#location div p {
    text-align: center;
}

#location div div {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

/* <===================DIRECTIONS===================> */

#directions p {
    padding-left: 2.1rem;
    text-indent: -2.1rem;
    margin-bottom: 1rem;
}

#directions p i {
    text-indent: 0;
}

/* <===================STAY===================> */

#stay img {
    margin-top: -4.8rem;
}

/* <===================INFOS===================> */

#info img {
    margin-top: -4.7rem;
}

/* <===================PARTINGMESSAGE===================> */

#partingmessage div {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#partingmessage h1 {
    text-align: center;
    margin-bottom: 3rem;
}

#partingmessage div a button {
    margin: auto;
}

/* <===================DIVIDERS===================> */
.divider {
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#parallax1 {
    background-image: url(img/getthere.jpeg);
}

#parallax2 {
    background-image: url(img/travel1.jpeg);
}

/* <===================FOOTER===================> */

footer{
    margin-top: 20vh;
    height: fit-content;
    width: 100%;
    padding: 10vh 30px;
}
footer h2{
    font-size: 2Srem;
    font-weight: normal;
}